@import "../../configs/theme.scss";
@import "../../configs/config.scss";

.authcontainer {
  background: $bg-color;
  color: white;
  min-width: 450px;
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  input {
    background: #191E39;
    color: white;
    padding: 15px 10px;
    border-radius: 5px;
    height: auto;
    line-height: normal;
    margin-top: 15px;
    border-color: $secondary-color;
  }
  .sider_row{
    flex: 1;
    padding: 0px 15px;
  }
  .sider {
    position: relative;
    height: 100%;
    img{
      position: absolute;
      left: 0px;
      top: -50px;
    }
    &:after{
      content: '';
      top: 60px;
      left: 35px;
      height: 50px;
      border-left: 2px solid $secondary-color;
      position: absolute;
    }
  }
  .header {
    padding: 20px 15px;
    background-color: $secondary-color;
    -webkit-app-region: drag;
    .windowCloseWrapper{
      -webkit-app-region: no-drag;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-end;
    }
    .windowicon {
      -webkit-app-region: no-drag;
      color: #888;
      cursor: pointer;
      transition: color 0.3s;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .body {
    margin-top: 40px;
  }
  .footer {
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
  }
}

.link {
  display: inline;
  margin-left: 5px;
  color: $primary-color;
  :hover {
    opacity: 0.5;
  }
}
.activateButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  svg{
    margin-right: 10px;
  }
}
